venv/
/venv
venv
test/
scratch/
*.pyc
*.db
*.pkl
data/
ignoreMe/
demand_element.pkl
output.txt
timesetting.txt
__pycache__/util.cpython-310.pyc
sb_logs.txt
logs.txt
zero2prod.session.sql
.vscode
.vscode/launch.json
